#project{
    background-image: url(../../assets/saap.png);
    background-size: cover; /* Make the background cover the entire area */
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
 padding:100px 0;
}
.talk h6{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}
.talk h2{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
}
.talk p{
    padding-top: 72px;
    font-size: 20px;
    font-family: "Nunito", sans-serif;
    width:1283px;
}

.uti button{
    border: none;
    background-color: orangered;
}